{% extends "GNKWLDFPokedexBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {% trans %}pokedex.title.about{% endtrans %}{% endblock %}

{% block body %}
<header>
{% include "GNKWLDFPokedexBundle::bootstrapHeader.html.twig" with { 'pageActive' : 'pokedex_about' } %}
</header>
<div class="container pokedex-other-page">
    <article>
        <div class="jumbotron">
            <h1>{% trans %}pokedex.title.about{% endtrans %}</h1>
            <p>{% trans %}pokedex.title.about.description{% endtrans %}</p>
        </div>
        <section>
        <h2>{% trans %}pokedex.title.about.team{% endtrans %}</h2>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>{{ 'pokedex.about.name'|trans|capitalize }}</th>
                        <th>{{ 'pokedex.about.role'|trans|capitalize }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Gnuk</td>
                        <td>{{ 'pokedex.about.role.development'|trans|capitalize }}, {{ 'pokedex.about.role.design'|trans|capitalize }}</td>
                    </tr>
                    <tr>
                        <td>LDF</td>
                        <td>{{ 'pokedex.about.role.drawings'|trans|capitalize }}</td>
                    </tr>
                    <tr>
                        <td>Neozetare</td>
                        <td>{{ 'pokedex.about.role.integration'|trans|capitalize }}, {{ 'pokedex.about.role.significantHelp'|trans|capitalize }}</td>
                    </tr>
                    <tr>
                        <td>Sika</td>
                        <td>{{ 'pokedex.about.role.translation'|trans|capitalize }}, {{ 'pokedex.about.role.significantHelp'|trans|capitalize }}</td>
                    </tr>
                    <tr>
                        <td>Gear 3</td>
                        <td>{{ 'pokedex.about.role.significantHelp'|trans|capitalize }}</td>
                    </tr>
                    <tr>
                        <td>Killerdream38</td>
                        <td>{{ 'pokedex.about.role.significantHelp'|trans|capitalize }}</td>
                    </tr>
                    <tr>
                        <td>Boidin</td>
                        <td>{{ 'pokedex.about.role.significantHelp'|trans|capitalize }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </article>
    <footer>
        {% include "GNKWLDFPokedexBundle::pokedexFooter.html.twig" %}
    </footer>
</div>
{% endblock %}