{% if description is not null %}
    <p class="pokedex-img"><img src="{{ description.image }}" height="150" width="150" alt="{{ description.name }}" title="{{ description.name }}" /></p>
    <ul class="pokedex-info">
        <li><strong class="pokedex-pokemon-name">{{ description.name }}</strong></li>
        <li class="pokedex-pokemon-species">{{ description.species }}</li>
        {% if description.types is not null %}
        <li>
            {% for type in description.types %}
            <span class="label pokelabel-{{ type.tag }}">{{ type.name }}</span>
            {% endfor %}
        </li>
        {% endif %}
    </ul>
    <p class="pokedex-description">
        {{ description.description }}
    </p>
{% else %}
    <p class="pokedex-img"><img src="{{ asset('bundles/gnkwldfpokedex/images/pokemon/pokemon.jpg') }}" height="150" width="150" alt="Pokémon" /></p>
    <ul class="pokedex-info">
        <li><strong class="pokedex-pokemon-name">Pokédex</strong></li>
    </ul>
{% endif %}