{% if description is not null %}
    <p class="pokedex-img"><img src="{{ description.image }}" height="150" width="150" alt="{{ description.name }}" title="{{ description.name }}" /></p>
    <ul class="pokedex-info">
        <li><strong class="pokedex-pokemon-name">{{ description.name }}</strong></li>
        <li class="pokedex-pokemon-species">{{ description.species }}</li>
        {% if description.types is not null %}
        <li>
            {% for type in description.types %}
            <span class="label pokelabel-{{ type.tag }}">{{ type.name|capitalize }}</span>
            {% endfor %}
        </li>
        {% endif %}
    </ul>
    <p class="pokedex-description">
        {{ description.description }}
    </p>
{% else %}
<div class="pokedex-homepage-description">
    <div class="pokedex-content">
        <p>
            {{ 'pokedex.home.default.subject'|trans }}
        </p>
        <p>
            {{ 'pokedex.home.default.explanation'|trans }}
        </p>
        <p class="pokedex-drawn"><strong>{{ 'pokedex.home.default.drawn'|trans }} : </strong>{{ drawn }}/{{ total }}</p>
    </div>
</div>
{% endif %}