{% extends "GNKWLDFPokedexBundle::layout.html.twig" %}

{% block title %}{% trans %}Pokédex{% endtrans %}{% endblock %}

{% block stylesheets %}
<link href="{{ asset('bundles/gnkwldfpokedex/css/sprites.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $(".pokedex-action").click(function(){
            var number = $(this).attr("data-pokemon-number");
            $.ajax({
                type: "GET",
                url: Routing.generate('pokedex_api_pokemon_description', { number: number }),
                success: function(data){
                    var view = $(".pokedex-view");
                    view.html('');
                    view.append('<div class="pokedex-img"><img src="' + data.image + '" height="150px" width="150px" alt="Pokémon"></div>');
                    view.append('<div class="pokedex-info"><ul></ul></div>');
                    view.append('<div class="pokedex-description"><p></p></div>');
                    $(".pokedex-description p").text(data.description);
                    var ulinfo = $(".pokedex-view .pokedex-info ul");
                    ulinfo.append('<li class="pokedex-pokemon-name"><strong></strong></li>');
                    ulinfo.append('<li class="pokedex-pokemon-species"></li>');
                    $(".pokedex-view .pokedex-info ul .pokedex-pokemon-name strong").text(data.name);
                    $(".pokedex-view .pokedex-info ul .pokedex-pokemon-species").text(data.species);
                    if(data.types !== null)
                    {
                        ulinfo.append('<li class="pokedex-pokemon-types"></li>');
                        for(var key in data.types)
                        {
                            $(".pokedex-view .pokedex-info ul .pokedex-pokemon-types").append('<span class="label pokelabel-'+data.types[key].tag+'"></span> ');
                            $('.pokelabel-'+data.types[key].tag).text(data.types[key].name);
                        }
                    }
                },
            });
        });
    });
</script>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="hide">{% trans %}Pokédex{% endtrans %}</h1>
    <div class="pokedex-top pokedex-hf">
        <div class="pokedex-row">
            <div class="pokedex-corner-left">
            </div>
            <div class="pokedex-left">
            </div>
            <div class="pokedex-center">
            </div>
            <div class="pokedex-right">
            </div>
            <div class="pokedex-corner-right">
            </div>
        </div>
    </div>
    <div class="pokedex-screen row">
        <div class="pokedex-view col-xs-12 col-sm-6">
            <div class="pokedex-img">
                <img src="{{ asset('bundles/gnkwldfpokedex/images/pokemon/pokemon.jpg') }}" height="150px" width="150px" alt="Pokémon">
            </div>
            <div class="pokedex-info">
                <ul>
                    <li><strong class="pokedex-pokemon-name">{% trans %}Pokédex{% endtrans %}</strong></li>
                </ul>
            </div>
        </div>
        <div class="pokedex-choice col-xs-12 col-sm-6">
            <div class="row">
            {% for i in 0..number %}
                <p class="col-sm-4 col-md-2 col-xs-3"><a class="pokedex-action" href="#" data-pokemon-number="{{ i }}" title="{{('pokemon.list.' ~ i ~ '.name')|trans}}"><span class="col-xs-12 pokedex-element"><span class="pokesprite pokesprite-{{i}}"></span><span class="pokedex-number">{{ i }}</span></span></a></p>
                {% if ((i+1) % 12) == 0 %}
                <div class="clearfix visible-md clearfix visible-sm clearfix visible-xs"></div>
                {% elseif ((i+1) % 6) == 0 %}
                <div class="clearfix visible-md"></div>
                {% elseif ((i+1) % 3) == 0 %}
                <div class="clearfix visible-sm"></div>
                {% elseif ((i+1) % 4) == 0 %}
                <div class="clearfix visible-xs"></div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="pokedex-bottom pokedex-hf">
        <div class="pokedex-row">
            <div class="pokedex-corner-left">
            </div>
            <div class="pokedex-left">
            </div>
            <div class="pokedex-center">
            </div>
            <div class="pokedex-right">
            </div>
            <div class="pokedex-corner-right">
            </div>
        </div>
    </div>
</div>
{% endblock %}